<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@team.errors.count, "error") %> prevented this team from being saved</h2>
      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      </ul>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <%= f.submit "Save", :class => "btn btn-default" %>
<% end %>