<h1><%= @team.name %></h1>

<h2>Games</h2>

<table class="table">
	<thead>
    <tr>
      <th>Team 1</th>
      <th>Score</th>
      <th>Team 2</th>
      <th>Score</th>
      <th>Played</th>
    </tr>
  </thead>

  <tbody>
  <% @recent_games.each do |game| %>
    <tr class="<%= "success" if (@team.id == game.team1.id and game.team1score > game.team2score) or (@team.id == game.team2.id and game.team2score > game.team1score) %> <%= "danger" if (@team.id == game.team1.id and game.team1score < game.team2score) or (@team.id == game.team2.id and game.team2score < game.team1score) %>">
      <td><%= game.team1.name %></td>
      <td><%= game.team1score %></td>
      <td><%= game.team2.name %></td>
      <td><%= game.team2score %></td>
      <td><%= game.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>