<h1><%= @team.name %></h1>

<%= link_to 'New Game', new_game_path(:team1 => @team.id), :class => 'btn btn-primary' %>

<h2>Recent games</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team 1</th>
      <th>Score</th>
      <th>Team 2</th>
      <th>Score</th>
      <th>Played</th>
    </tr>
  </thead>

  <tbody>
    <% @recent_games.each do |game| %>
    <tr>
      <td><%= game.team1.name %></td>
      <td><%= game.team1score %></td>
      <td><%= game.team2.name %></td>
      <td><%= game.team2score %></td>
      <td><%= game.played_at.to_formatted_s(:long)  %></td>
    </tr>
    <% end %>
  </tbody>
</table>