<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@game.errors.count, "error") %> prevented this game from being saved</h2>
      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      </ul>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :team1 %>
        <%= collection_select(:game, :team1_id, @teams, :id, :name, { :selected => params[:team1] }, {:class=>'form-control'}) %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :team1score, "Score" %>
        <%= f.text_field :team1score, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :team2 %>
        <%= collection_select(:game, :team2_id, @teams, :id, :name, { :selected => params[:team2] }, {:class => 'form-control'}) %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :team2score, "Score" %>
        <%= f.text_field :team2score, :class => 'form-control' %>
      </div>
    </div>
  </div>

  

  

  

  <%= f.submit "Save", :class => "btn btn-default" %>
<% end %>