<!DOCTYPE html>
<html>
<head>
  <title>Foos</title>
  <script src="http://code.angularjs.org/1.2.3/angular.js"></script>
  <script src="http://code.angularjs.org/1.2.3/angular-route.js"></script>
  <script src="http://code.angularjs.org/1.2.3/angular-resource.js"></script>
  <script src="http://code.angularjs.org/1.2.3/angular-animate.js"></script>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="container">
    <%= link_to 'New Game', new_game_path, :class => 'btn btn-primary' %>

    <%= yield %>
  </div>

</body>
</html>
